*.obj
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.db
*.opendb

*.exe
*.dll

_out/
_tmp/
External/
Library/
Temp/
Build/
Hidden/
Hidden.meta
obj/
OpenSubdivForUnity/*.sln
OpenSubdivForUnity/*.csproj
