*.obj
*.pch
*.lib
*.exe
*.exp
*.ilk
*.ipch
*.pdb
*.suo
*.sdf
*.opensdf
*.user
*.log
*.tlog
*.db
*.opendb
*.cmake

*.exe
*.dll
*.so

*.usda
*.usda.meta
*.usdc
*.usdc.meta

plugInfo.json

Makefile

_out/
_tmp/
External/
Library/
Temp/
Build/
Hidden/
Hidden.meta
obj/
CMakeFiles/
CMakeCache.txt
USDForUnity/*.sln
USDForUnity/*.csproj
